.DS_Store
results/
.idea
__pycache__
*.SVN
/result
/.idea
/.vscode
/libs/*.pyc
*.~lock.*
/libs/__pycache__
report.html
log.html
output.xml
*.pyc
*~$Data.xlsx
*.log
*.json5
*.png
.pabotsuitenames
*.html
*.xml
*.png
!folder/*.jpg
!*.jpg
report
note.txt
*.pyc
*.jpeg
~$*.xlsx